$color-background: #0e1015;
$color-primary: #e2b714;
$color-light: #ffffff;
$color-footer: #1a1d24;
$font-main: Arial, sans-serif;
$color-dark-alt: #0e1015;
$color-white: #ffffff;
$color-black:  #000000;
$color-accent: #e2b714;
$color-accent-hover: #c9a312;
$color-dark: #1c1c1c;
$color-darker: #1e1e1e;
$color-border: #555;
$color-text: #fff;
$color-muted: #ccc;
$color-muted-alt: #aaa;
$color-btn-text: #111;
$banner-fit-mode: contain; // o cover

